<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="https://use.fontawesome.com/01710a58d3.js"></script>   
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/cv">CV</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div><!-- /.container -->
        <footer>
    		<ul>
        		
                <li><a href="https://www.linkedin.com/in/lowyingling/"><i class="fa fa-linkedin" aria-hidden="true" fa-2x></i></a></li>
                <li><a href="mailto:low.yingling@gmail.com"><i class="fa fa-envelope" aria-hidden="true" fa-2x></i></a></li>
        		<li><a href="https://github.com/yinglinglow"><i class="fa fa-github" aria-hidden="true" fa-2x></i></a></li>
			</ul>
		</footer>
    </body>
</html>